
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	

	</head>
	<body>
	<section class="ftco-section">
		<div class="container">
			
			<div class="row justify-content-center">
				<div class="col-md-12 col-lg-10">
					<div class="wrap d-md-flex" style="height: 300px;
                    width: 800px;
                    background: #141498;
                    margin-left: 60px;">
						<div class="text-wrap p-4 p-lg-5 text-center d-flex align-items-center order-md-last" style =" background:#141498 ;    margin-left: 180px;">
							<div class="text w-100">
								<h2 style="font-size: 30px;">Bienvenue</h2>
								<p style="font-size: 13px;">Veuillez introduire votre profil</p>
								<a href="/client" style="font-size: 20px;margin-bottom: 10px;" class="btn btn-white btn-outline-white">je suis un client</a>
                                <a href="/fournisseur" style="font-size: 20px;margin-bottom: 10px;" class="btn btn-white btn-outline-white">je suis un Fournisseur</a>
                               
                            
                            </div>
			      </div>
						
		      </div>
				</div>
			</div>
		</div>
	</section>



	</body>
</html>

