
    <body class="skin-blue">
        <!-- header logo: style can be found in header.less -->
        <header class="header">
            <a href="index.html" class="logo">
  
             
                <!-- Add the class icon to your logo image or logo icon to add the margining -->
                MarketPlace
            </a>
            <!-- Header Navbar: style can be found in header.less -->
            <nav class="navbar navbar-static-top" role="navigation">
                <div class="pull-left info" style="margin-left: 800px;">
                    <a routerLink="/profil" routerLinkActive="active" style="font-size: 20px; color:white ">Profil</a>                </div>
               <div class="pull-left info">
                <a href="/login" style="font-size: 20px; color:white ">Déconnexion</a> 
  
               </div>
            </nav>
        </header>
        <div class="wrapper row-offcanvas row-offcanvas-left">
            <!-- Left side column. contains the logo and sidebar -->
            <aside class="left-side sidebar-offcanvas">                
                <!-- sidebar: style can be found in sidebar.less -->
                <section class="sidebar">
                    <!-- Sidebar user panel -->
                    <div class="user-panel">
                        
                            
                        
                        
                    </div>
                    <div class="user-panel">
                        <div class="pull-left image">
                            <img src="assets/AdminLTE-master/img/photovide.png" class="img-circle" alt="User Image" />
                        </div>
                        <div class="pull-left info">
                            
  
                            <a><i class="fa fa-circle text-success"></i> Online</a>
                        </div>
                    </div>
                   
                   
                    <!-- sidebar menu: : style can be found in sidebar.less -->
                    <ul class="sidebar-menu" style="font-size: 15px;">
                        <li class="active">
                            <a routerLink ="/accueil" routerLinkActive="active">
                              
                                <i class="fa fa-dashboard"></i> <span>Dashboard</span>
                            </a>
                        </li>
                       
                        <li class="active">
                            <a routerLink ="/listuser" routerLinkActive="active">
                              
                                <i class="fa fa-th"></i> <span>Utilisateur</span>
                            </a>
                        </li>
                       
                        
                        <li class="active">
                            <a routerLink ="/categories" routerLinkActive="active">
                              
                                <i class="fa fa-th"></i> <span>Categories</span>
                            </a>
                        </li>
                        <li class="active">
                            <a routerLink ="/souscategories" routerLinkActive="active">
                              
                                <i class="fa fa-th"></i> <span>Sous catégories</span>
                            </a>
                        </li>
                        <li class="active">
                            <a routerLink ="/chart" routerLinkActive="active">
                              
                                <i class="fa fa-th"></i> <span>Statistiques</span>
                            </a>
                        </li> 
                        
                    </ul>
                </section>
                <!-- /.sidebar -->
            </aside>
  
            
  
             <aside class="right-side">                
                <!-- Content Header (Page header) -->
                <section class="content-header">
                    <h1>
                        Statistiques
                        <small>...</small>
                    </h1>
                   
                </section>


                <!-- Main content -->
                <section class="content">






  <div class="jumbotron text-center" style="padding: 10px;">
    <h1 style="font-size: 25px;">Evolution du nombre d'articles par catégorie</h1>
  </div>
  
  
  <div class="container">
  
    <div class="row">
  
      <div class="col-md-6 offset-md-3 ">
  
        <div class="chart-wrapper">
          <canvas baseChart
                  [datasets]="barChartData1"
                  [labels]="barChartLabels1"
                  [options]="barChartOptions1"
                  [plugins]="barChartPlugins1"
                  [legend]="barChartLegend1"
                  [chartType]="barChartType1">
          </canvas>
        </div>
  
      </div>
  
    </div>
  
  </div>
  
  


                   
  <div class="jumbotron text-center" style="padding: 10px;">
    <h1 style="font-size: 25px;">Evolution du nombre d'articles par sous catégorie</h1>
  </div>
  
  
  <div class="container">
  
    <div class="row">
  
      <div class="col-md-6 offset-md-3 ">
  
        <div class="chart-wrapper">
          <canvas baseChart
                  [datasets]="barChartData"
                  [labels]="barChartLabels"
                  [options]="barChartOptions"
                  [plugins]="barChartPlugins"
                  [legend]="barChartLegend"
                  [chartType]="barChartType">
          </canvas>
        </div>
  
      </div>
  
    </div>
  
  </div>






                </section><!-- /.content -->
            </aside><!-- /.right-side -->
        </div><!-- ./wrapper -->
  
  
  
    </body>
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
      























            

                   
 



















