
    <body class="skin-blue">
        <!-- header logo: style can be found in header.less -->
        <header class="header">
            <a href="index.html" class="logo">
  
             
                <!-- Add the class icon to your logo image or logo icon to add the margining -->
                MarketPlace
            </a>
            <!-- Header Navbar: style can be found in header.less -->
            <nav class="navbar navbar-static-top" role="navigation">
                <div class="pull-left info" style="margin-left: 800px;">
                    <a routerLink="/profil" routerLinkActive="active" style="font-size: 20px; color:white ">Profil</a>                </div>
               <div class="pull-left info">
                <a href="/login" style="font-size: 20px; color:white ">Déconnexion</a> 
  
               </div>
            </nav>
        </header>
        <div class="wrapper row-offcanvas row-offcanvas-left">
            <!-- Left side column. contains the logo and sidebar -->
            <aside class="left-side sidebar-offcanvas">                
                <!-- sidebar: style can be found in sidebar.less -->
                <section class="sidebar">
                    <!-- Sidebar user panel -->
                    <div class="user-panel">
                        
                           
                        
                        
                    </div>
                    <div class="user-panel">
                        <div class="pull-left image">
                            <img src="assets/AdminLTE-master/img/photovide.png" class="img-circle" alt="User Image" />
                        </div>
                        <div class="pull-left info">
                            <p>Bienvenue</p>
  <span>{{this.name}}</span>
                            <a><i class="fa fa-circle text-success"></i> Online</a>
                        </div>
                    </div>
                   
                   
                    <!-- sidebar menu: : style can be found in sidebar.less -->
                    <ul class="sidebar-menu" style="font-size: 15px;">
                        <li class="active">
                            <a routerLink ="/accueil" routerLinkActive="active">
                              
                                <i class="fa fa-dashboard"></i> <span>Dashboard</span>
                            </a>
                        </li>
                       
                        <li class="active">
                            <a routerLink ="/listuser" routerLinkActive="active">
                              
                                <i class="fa fa-th"></i> <span>Utilisateur</span>
                            </a>
                        </li>
                       
                        
                        <li class="active">
                            <a routerLink ="/categories" routerLinkActive="active">
                              
                                <i class="fa fa-th"></i> <span>Categories</span>
                            </a>
                        </li>
                        <li class="active">
                            <a routerLink ="/souscategories" routerLinkActive="active">
                              
                                <i class="fa fa-th"></i> <span>Sous catégories</span>
                            </a>
                        </li>
                        <li class="active">
                            <a routerLink ="/chart" routerLinkActive="active">
                              
                                <i class="fa fa-th"></i> <span>Statistiques</span>
                            </a>
                        </li> 
                        
                    </ul>
                </section>
                <!-- /.sidebar -->
            </aside>
  
            
  
             <aside class="right-side">                
                <!-- Content Header (Page header) -->
                <section class="content-header">
                    <h1>
                        Bienvenue
                        <small>...</small>
                    </h1>
                   
                </section>
<br>
<br>
<br>

                <!-- Main content -->
                <section class="content">

                    <!-- Small boxes (Stat box) -->
                    <div class="row" >
                        <div class="col-lg-3 col-xs-6"style="    height: 130px;">
                            <!-- small box -->
                            <div class="small-box bg-aqua">
                                <div class="inner">
                                    <h3 style="font-size: 30px;">
                                        Catégories
                                    </h3>
                                    <p>
                                        Gestion des catégories
                                    </p>
                                </div>
                                <div class="icon">
                                    <i class="ion ion-bag"></i>
                                </div>
                                <a routerLink="/categories" style="    margin-top: 10px;"routerLinkActive="active"class="small-box-footer">
                                    plus d'informations <i class="fa fa-arrow-circle-right"></i>
                                </a>
                            </div>
                        </div><!-- ./col -->
                        <div class="col-lg-3 col-xs-6">
                            <!-- small box -->
                            <div class="small-box bg-green"style="    height: 130px;">
                                <div class="inner">
                                    <h3 style="font-size: 30px;">
                                        Sous Catégories
                                    </h3>
                                    <p>
                                       Gestion des sous catégories
                                    </p>
                                </div>
                                <i class='fas fa-border-all' style='font-size:48px;color:red'></i>
                                <a routerLink="/souscategories"style="    margin-top: 10px;" routerLinkActive="active"class="small-box-footer">
                                    plus d'informations <i class="fa fa-arrow-circle-right"></i>
                                </a>
                            </div>
                        </div><!-- ./col -->
                        <div class="col-lg-3 col-xs-6">
                            <!-- small box -->
                            <div class="small-box bg-yellow"style="    height: 130px;">
                                <div class="inner">
                                    <h3 style="font-size: 30px;">
                                        Utilisateurs
                                    </h3>
                                    <p>
                                        Gestion des utilisateurs
                                    </p>
                                </div>
                                <div class="icon">
                                    <i class="ion ion-person-add"></i>
                                </div>
                                <a routerLink="/listuser"style="    margin-top: 10px;" routerLinkActive="active"class="small-box-footer">
                                    plus d'informations <i class="fa fa-arrow-circle-right"></i>
                                </a>
                            </div>

                           

                        </div><!-- ./col -->







                        <div class="col-lg-3 col-xs-6">
                            <!-- small box -->
                            <div class="small-box bg-red">
                                <div class="inner">
                                    <h3>
                                        Statistiques 
                                    </h3>
                                    <p>
                                        Evolution du nombre d'articles
                                    </p>
                                </div>
                                <div class="icon"> 
                                    <i class="ion ion-pie-graph"></i>
                                </div>
                                <a routerLink="/chart" routerLinkActive="active" class="small-box-footer">
                                    plus d'informations <i class="fa fa-arrow-circle-right"></i>
                                </a>
                            </div>

                           

                        </div><!-- ./col -->












                       
                        
                       
                    </div><!-- /.row -->

                  
  
  
  
                </section><!-- /.content -->
            </aside><!-- /.right-side -->
        </div><!-- ./wrapper -->
  
  
  
    </body>
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
      























            

                   
 

