<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">


</head>
<body>

<form [formGroup]="this.crudApi.dataForm" (ngSubmit)="onSubmit()">
  <div class="container">
  
    <hr>
    <h1 style="    margin-bottom: -45px;
    margin-left: 240px;
    padding: 30px">S'inscrire  </h1>
    
    <label for="email"><b>Email</b></label>
    <input type="text" placeholder="Enter Email"formControlName="email" id="email">

    <label for="libelle"><b>Nom </b></label>
    <input type="text" placeholder="Enter Nom" formControlName="username" id="username">


    <label for="adresse"><b>Prénom</b></label>
    <input type="text" placeholder="Enter Prénom" id="login" formControlName="login" >

   

    <label for="pwd"><b>Mot de passe</b></label>
    <input type="password" placeholder="Enter Mot de passe" formControlName="pwd" id="pwd">

    <label for="pwd"><b>Repeter le mot de passe</b></label>
    <input type="password" placeholder="Repeter le mot de passe" formControlName="pwdd" id="pwdd">

    <label ><b>Role</b></label>
                            
    <select name = "role"  formControlName="role" style="font-size: 15px;" class="form-control" id = "role">
        <option value = "Admin"style="font-size: 15px;">Administrateur</option>
    </select>
    <input type="checkbox" id="acceptTerms"class="form-check-input">
    <label for="pwd"><b>Accepter toutes les conditions</b></label>
    
    <hr>

    <button type="submit" class="registerbtn" style="padding: 9px 20px; margin-top:-10px">S'inscrire</button>
   
  </div>

  <div class="container signin" style="background-color:white;">
    <p>j'ai déja un compte! <a href="/login"> Se connecter</a>.</p>
  </div>
</form>

</body>
</html>






























