








<!DOCTYPE html>
<html>
<title>W3.CSS</title>
<meta name="viewport" content="width=device-width, initial-scale=1">

<body>

<div class="w3-container">
  <h2>Payement</h2>
  
  
  
  <label style="font-size: 15px; margin-left: 10px;">Nom</label> 
  <label style="font-size: 15px; margin-left: 280px;">Email</label><br>
   <input type="text" style="font-size: 20px;background-color: #e6ecec;margin-bottom: 10px;     margin-left: 10px;  width: 300px;" formControlName="nom" id="nom" >

   
   <input type="text"style="font-size: 20px;background-color: #e6ecec;margin-bottom: 10px;     margin-left: 10px;  width: 300px;"  formControlName="adresse" id="adresse"><br>
   



   <label style="font-size: 15px; margin-left: 10px;">Adresse</label>
   <label style="font-size: 15px; margin-left: 250px;">Ville</label><br>
   <input type="text"style="font-size: 20px;background-color: #e6ecec;margin-bottom: 10px; margin-left: 10px;    width: 300px;"  formControlName="sadresse" id="sadresse">
   <input type="text"style="font-size: 20px;background-color: #e6ecec;margin-bottom: 10px;     margin-left: 10px;  width: 300px;"  formControlName="ville" id="ville"><br>
   


   <label style="font-size: 15px; margin-left: 10px;">Code postal</label>
   <label style="font-size: 15px; margin-left: 220px;">Telephone</label><br>
   <input type="text"style="font-size: 20px;background-color: #e6ecec;margin-bottom: 10px;     margin-left: 10px;    margin-left: 10px;  width: 300px;"  formControlName="codep" id="codep">

   
   <input type="password" style="font-size: 20px;background-color: #e6ecec;margin-bottom: 10px;     margin-left: 10px;  width: 300px;" formControlName="tel" id="tel"><br>

   
 

  <label style="font-size: 15px; margin-left: 10px;">Mode Payement</label>
  
  <button class="btn btn-outline-white ml-1" style="background-color: #095ffd80;font-size: 13px; " (click)="onSelectmodreg(1)">
 Paypal <img src="assets/img/paypal.png" alt=""></button>
 <button class="btn btn-outline-white ml-1"style="background-color: #095ffd80;font-size: 13px;" (click)="onSelectmodreg(4)">A La Livraison <img src="assets/img/master cart.png" alt=""> 
 </button><br>
  <button type="button" class="btn btn-success" (click)="valider()" style="margin-left: 600px;">Valider Payement</button>
            
                    <button type="button" class="btn btn-danger" [mat-dialog-close] style="margin-left: 20px;"><i 
    class="fa fa-close"></i>Retour</button>
</div>

</body>
</html> 





     
         





















   






              






     
              





















    












              
