<div>
<h1>Ajouter un sous catégorie</h1>
</div>


      
             
          <form [formGroup]="this.crudApi.dataForm" (ngSubmit)="onSubmit()" >
            <input type="hidden"  formControlName="id" id="id">
           
            <div class="form-group">
              <label style="font-size: 15px;"> Catégorie </label>
              <select class="form-control" style="font-size: 14px;" formControlName="ccateg" id="ccateg" (change)="OnSelectCateg($event.target)">
                   <option value="0" style="font-size: 14px;">-Select-</option>
                     <option *ngFor="let item of CategorieList" value="{{item.code}}">{{item.libelle}}</option>
              </select>
           </div>
             <div class="form-group">
             <label style="font-size: 15px;" >Code Souscategorie </label>
              <input type="text" style="font-size: 14px;" class="form-control" formControlName="code" id="code" readonly>
      
           </div>
            
            <div class="form-group">
              <label style="font-size: 15px;">Libelle</label>
              <input type="text" style="font-size: 14px;" class="form-control" formControlName="libelle" id="libelle">
            </div>
           
            <div class="form-group" style="font-size: 15px;">
          
              <button type="submit" style="    font-size: 13px;" onclick="sortTable()" class="btn btn-success"> Ajouter</button>
              <button type="button" style="    font-size: 13px;    margin-left: 482px;"class="btn btn-danger" [mat-dialog-close]><i class="fa fa-close"></i> Fermer</button>
          
  
  
</div>
          </form>
     







      